.adminFormcontainer {
    width: 100%;
    height: 100vh;
    color: #f9f9f9;
}

.adminfrontForm{
    position: absolute;
}

.adminbackform{
    position: absolute;
}

.admin_grp_form {
    display: flex;
    width: 400px;
    margin: auto;
    align-self: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}


#admin_grp_form_sub {
    display: flex;
    flex-direction: column;
}

#admin_grp_form_h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.admin_grp_form-label {
    font-weight: bold;
}

.admin_grp_form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
}

.admin_grp_form_btn {
    width: 6.5em;
    height: 3em;
    margin: auto;
    background: white;
    color: black;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.admin_grp_form_btn:hover {
    color: white;
}

.admin_grp_form_btn:after {
    content: "";
    background: black;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.admin_grp_form_btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}