.infocardcontainer{
    justify-content:left;
}

#infocardtophr{
    width: 100px;
    height: 4px;
    border: none;
    margin-left: 0px;
    margin-bottom: -10px;
    background: hsla(16, 100%, 76%, 1);

    background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
}

#infocardtoptitlep{
    font-size: larger;
    font-weight: bolder;
}