body {
  overflow-x: hidden;
  background: -moz-radial-gradient(circle at 50% 0%, rgba(82, 83, 83, 1) -10%, rgba(16, 16, 16, 1) 18%);
  background: -webkit-radial-gradient(circle at 50% 0%, rgba(82, 83, 83, 1) -10%, rgba(16, 16, 16, 1) 18%);
  background: -o-radial-gradient(circle at 50% 0%, rgba(82, 83, 83, 1) -10%, rgba(16, 16, 16, 1) 18%);
  background: -ms-radial-gradient(circle at 50% 0%, rgba(82, 83, 83, 1) -10%, rgba(16, 16, 16, 1) 18%);
  background: radial-gradient(circle at 50% 0%, rgba(82, 83, 83, 1) -10%, rgba(16, 16, 16, 1) 18%);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}